/********************* NAVBAR *********************/
nav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    height: 42.5px;
	margin: 0;
	padding: 0.5rem 0;
    background-color: #111;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
    z-index: 5;
}

.nav-menu {
    position: relative;
    display: flex;
}

.nav-btn {
    display: flex;
    align-self: center;
    align-items: center;
    margin: 0 0.5rem;
	font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--white-light);
    transition: 0.1s all ease-in-out;
}

.nav-btn:hover, #create-ticket:hover::before {
    color: #fff;
}

#create-ticket {
    margin: 0 auto 0 1rem;
}

#create-ticket::before {
    content: "+";
    margin: 0 0.4rem;
    font-size: 1.4em;
}

#create-ticket::after {
    content: "Create";
    text-transform: uppercase;
}

#sidemenu {
    margin-right: 1rem;
}

#sidemenu::before {
    content: "Menu";
    text-transform: uppercase;
}

#sidemenu::after {
    content: "";
    margin: 0.2em 0.3em 0.4em 0.3em;
    padding: 5px;
    background: none;
    border: solid var(--white-light);
    border-width: 0 3px 3px 0;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: rotate(45deg);
}

#sidemenu:hover::after {
    border-color: #fff;
}

#sidemenu-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 52px;
    right: 0;
    max-height: 80vh;
    font-size: 1em;
    font-weight: 500;
    color: var(--white-light);
    background-color: rgba(19, 19, 19, 0.85);
    box-shadow: -2px 2px 8px 0 rgba(0, 0, 0, 0.3);
    overflow: auto;
    z-index: 5;
}

.sidemenu-btn {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1.2rem;
    width: 100%;
    max-width: -webkit-fill-available;
    cursor: pointer;
    user-select: none;
}

.sidemenu-btn:hover {
    color: #fff;
    background-color: rgba(25, 25, 25, 0.85);
}

/********************* MODAL *********************/
.modal-container {
	position: fixed;
	left: 0;
    top: 0;
    display: flex;
    align-items: center;
	width: 100%;
	height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10;
}

.modal-content {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    max-width: 800px;
    max-height: 98vh;
    margin: 1em auto;
    background-color: #fff;
    border: 3px solid;
    border-image: linear-gradient(135deg, var(--blue-light) 0%, rgb(90, 15, 90) 100%) 1;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.6);
	animation: animateZoom 0.6s;
}

@keyframes animateZoom {
	0%		{transform: scale(0);}
	100%	{transform: scale(1);}
}

span.close {
	position: absolute;
	right: 0;
    top: 0;
    margin: 2px 2px 0 0;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 400;
    line-height: 0.5;
    color: #555;
	cursor: pointer;
	transition: all 0.2s;
}

span.close:hover {
    background: rgb(160, 15, 15);
    color: #fff;
}

/********************* TICKETS *********************/
#t-cntr {
    max-width: 60rem;
    margin: 0 auto;
    padding: 0.5rem;
}

#t-headers {
    color: #333;
    border-bottom: 2px solid var(--grey-dark);
}

#tickets {
    color: #111;
}

.t-subject {
    width: 37.5%;
}

.t-id, .t-date {
    width: 17.5%;
}

.t-status {
    width: 10%;
}

.t-subject, .t-id, .t-date, .t-status {
    padding: 0.5em;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.t-status:not(#h-status) {
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 3px;
    color: #fff;
    background-color: var(--grey-dark);
    text-align: center;
}

.t-status.open:not(#h-status) {
    background-color: var(--green-light);
}

.ticket {
    align-items: center;
    cursor: pointer;
}

.ticket:not(:last-of-type) {
    border-bottom: 1px solid var(--grey-med);
}

.ticket:hover {
    background-color: rgba(240, 240, 240, 0.8);
}

#t-modal-content {
    align-items: flex-start;
}

.message {
    padding: 0.5em 0;
    width: 100%;
    box-sizing: border-box;
}

.message-subject {
    margin: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--grey-med);
}

.message:not(:last-of-type) {
    border-bottom: 1px dashed var(--grey-med);
}

.message-text {
    white-space: pre-wrap;
}

/********************* FORM *********************/
#nt-f-messageText {
    min-width: 20em;
    min-height: 10em;
}

.file-input-group {
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 0;
    width: fit-content;
    max-width: 100%;
	background: none;
	cursor: pointer;
}

.file-input {
	overflow: hidden;
	position: absolute;
	width: 1px !important;
	height: 1px;
	opacity: 0;
	z-index: -1;
}

.file-input-btn, .file-input-name {
	padding: 5px 8px 10px 8px;
	height: 16px;
}

.file-input-btn {
    display: inline-block;
    font-size: 1em;
    border: 2px solid #000;
	background: none;
    color: #000;
    white-space: nowrap;
    transition: 0.2s all;
}

.file-input-btn::after {
    content: "Upload";
}

.file-input-btn.del::after {
    content: "Remove";
}

.file-input-name {
	display: inline-block;
    max-width: 280px;
	vertical-align: top;
	text-align: center;
	text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
    border: 2px solid var(--blue-light);
    border-left: none;
    border-radius: 0 3px 3px 0;
	overflow: hidden;
}

.file-input-btn:hover, .file-input-name:not(.hidden) + .file-input-btn {
    color: #fff;
    background-color: var(--blue-light);
    border-color: var(--blue-light);
    border-radius: 3px;
}

.file-input-btn.del {
    cursor: pointer;
}

.file-input-btn.del:hover {
    background-color: var(--red-med);
    border-color: var(--red-med);
}

.file-input-icon {
	margin: -4px 4px 0 0;
    vertical-align: middle;
    transition: 0.2s all;
}

.file-input-name:not(.hidden) + .file-input-btn {
    border-radius: 3px 0 0 3px;
}

.file-input-name:not(.hidden) + .file-input-btn > .file-input-icon, .file-input-btn:hover > .file-input-icon {
    filter: invert(1);
}

/********************* ACCOUNT *********************/
.acc-modal {
    flex-flow: row;
    height: 25rem;
    width: 27.5rem;
    font-size: 1.15em;
}

#acc-left-panel {
    align-self: flex-start;
    min-width: fit-content;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--blue-med);
    background-image: url("../images/panel-blue-mountain.png");
    background-position: bottom;
}

.acc-btn {
    padding: 1rem;
    color: #dfdfdf;
    background-color: rgba(20, 90, 170, 0.9);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.acc-btn:hover {
    background-color: var(--blue-light);
}

.acc-btn.active {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 20%, rgba(255, 255, 255, 0.35) 100%);
}

.acc-right-panel {
    align-self: flex-start;
    width: inherit;
    padding: 1rem;
}

.acc-text {
    margin: 0.3rem 0;
    font-weight: 400;
    color: #000;
}

/********************* MOBILE *********************/
@media screen and (max-width: 750px) {
    .modal-content {
        max-width: 485px;
    }

    #create-ticket::after, #sidemenu::before {
        content: "";
    }
}

@media screen and (max-width: 550px), screen and (max-height: 500px) {
    .modal-content {
        max-width: 98vw;
        overflow: auto;
    }
}